@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fontdiner+Swanky&family=Handlee&family=Irish+Grover&family=Sue+Ellen+Francisco&display=swap');

body {
    font-family: "Sue Ellen Francisco";
    font-size: 1.8rem;
    color: floralwhite;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
    background-image: url("../imgs/christmas-9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.title {
    font-family: "Irish Grover";
    font-size: 1.7rem;
    letter-spacing: .3rem;
    text-align: center;
    filter: drop-shadow(.2rem .2rem .7rem #000);
}

.friend {
    font-family: "Bree Serif";
    font-size: 1.5rem;
    text-align: center;
}